/* Common styles for the Snob App */
body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: white;
    background-image: url("media/background.gif");
    background-size: cover;
}

h1 {
	font-size: 1.5em;
	font-style: normal;
	font-weight: 100;
}

h2 {
	font-size: 1.5em;
	margin: 0;
}

h3 {
	font-size: 1.25em;
	margin: 0;
}

#header {
	top: 0;
	height: 5%;
	left: 0;
	right:0;
	background-color: #2a2a2a
}

#header-title {
	margin: 0;
}

#header-subtitle {
	margin: 0;
	margin-left: 8.5em;
	font-size: 0.8em;
}

#footer {
	font-size: 0.8em;
	height: 5%;
	left: 0;
	bottom: 0;
	right:0;
	background-color: #2a2a2a;
}

#content {
	top: 10%;
}

.page-section {
	position: absolute;
	width: 100%;
	font-color: white;
}

.bar-section {
	height: 10%;
	width: 90%;
	padding: 1em 5% 1em 5%;
}

.clickable {
	cursor: pointer;
}
