{# admin.html #}
{# this is the base template for all playlist backend pages #}
{% load static %}
<html>
<head>
{% block styles %}
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'common/css/reset.css' %}">
	<link rel="stylesheet" href="{% static 'playlist/css/style.css' %}">
{% endblock styles %}
</head>
<body>
	<div id="header" class="page-section bar-section">
		<h1 id="header-title"> Human Muse.ic </h1>
		<p id="header-subtitle"> Hmm... I like it!</p>	
	</div>

	<div id="content" class="page-section">
		{% block content %}
			This is a template.  Generate real pages based on this template by including the line
			{% verbatim %} {% extends "admin.html" %} {% endverbatim %}
			at the top of the file.
		{% endblock content %}
	</div>
	<div id="footer" class="page-section bar-section">
		<div id="copyright-holder">
			<span class="copyright bar-text">&copy; Human Muse.ic 2017</span>
		</div>
	</div>

	{% block scripts %}
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript">
		window.jQuery || document.write('<script src="{% static "lib/jquery.min.js" %}">\x3C/script>');
	</script>
	<script type="text/javascript" src="{% static 'playlist/js/common.js' %}"></script>
	{% endblock scripts %}
</body>
</html>