{% extends "base.html" %}
{% load static %}
{% load filters %}
{% load render_bundle from webpack_loader %}

{% block title %}{{ title }}{% endblock %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="/static/playlist/css/{{bundle|style}}.css" >
{% endblock styles %}

{% block content %}
    <div id="react">
        <!-- Contents get replaced by mounted React.Component -->
        <div id="loading" style="text-align: center; margin-top: 20vh;">
            <img src="/static/playlist/css/media/loading.gif" height="100" width="100" /><br>
            <i class="pending">Loading components...</i><br>
        </div>
    </div>

    <script>
        window.props = {{ props|json }};
        window.react_mount = document.getElementById('react');
    </script>

    {# dyanamically determine the bundle to render #}
    {% render_bundle bundle %}
    
{% endblock %}