{% extends "base.html" %}
{% load static %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'playlist/css/landing.css' %}">
{% endblock styles %}

{% block content %}
<div id="col-left" class="col-content">
    <h1>Welcome {{dj}}!</h1>
    <h3>What playlist would you like to edit?</h3> <br>
    <span class="playlist-heading playlist-text-cell">Date</span>
    <span class="playlist-heading playlist-text-cell">Title</span>
    <span class="playlist-heading playlist-text-cell">Subtitle</span>
    <br>
    {% for playlist in playlists %}
    <div class="list-entry">
        <a href="/playlist/{{playlist.id}}" class="playlist-link">
            <span class="playlist-text-cell">{{playlist.date}}</span>
            <span class="playlist-text-cell">{{playlist.title}}</span>
            <span class="playlist-text-cell">{{playlist.subtitle}}</span>
        </a> 
        <br>
    </div>
    {% endfor %}
</div>

<div id="col-right" class="button">
    <a href="/playlist/new"> 
        <span class="playlist-heading">CREATE NEW PLAYLIST</span>
    </a>
</div>

{% endblock content %}
