/* unvisited link */
a:link, a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* Positioning */
#content-top {
	height: calc(20% - 2em);
	width: 100%;
	padding: 1em 15%;
}

#content-main {
	top: 0;
	height: 100%;
	width: 100%;
}

#content-left {
    position: absolute;
    left: 0;
    height: 100%;
    width: 60%;
}

#content-right {
    position: absolute;
    left: 60%;
    height: 100%;
    width: 40%;
}

/* Box styles */
.explore-title {
	font-size: 1.5em;
}

.play-container {
	background-color: rgb(42, 42, 42);
	border: 2px solid #959595;
	border-radius: 0.15em;

	margin: 0 0.5em 1em 1em;
	width: calc(100% - 3em);
	padding: 0.5em;

	max-height: calc(80% - 2em);
}

.plays {
	max-height: calc(60vh - 3em);
	overflow: auto;
}

.play-container-header > .play-field {
	width: 11.7%;
	font-size: 1.2em;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	color: rgb(170, 247, 205);
	cursor: auto;
}

.section-title-underline {
	font-size: 0.8em;
	border-style: solid;
	border-radius: 0.2em;
	border-top-color: white;
	border-top-width: 2px;
}

.play {
	border-bottom: 1px solid rgba(255,255,255, 0.1);
	padding: 0.1em 0;
}

.play-field {
	padding: 0.25em 0.5em;
	display: inline-block;
	width: 12%;
	cursor: pointer;
}

.play-field:hover {
    text-decoration: underline;
}

/**********************************************************************
 * Search bar
 *********************************************************************/
#search-bar {
	width: calc(60% - 1em);

	margin: 0.5em 1em 0.5em 40%;
}

/**********************************************************************
 * Details
 *********************************************************************/

.details {
	background-color: rgb(42,42,42);
	border: 2px solid #959595;
	width: calc(100% - 3em);
	height: 20%;
	padding: 0.5em;
	margin: 0.5em 0.5em 0.5em 1em;
	border-radius: 0.5em;
}

.details-title {
	margin: 0.25em;
}

.details-subtitle {
	margin: 0.25 1em;
	font-style: italic;
}

.details-area {
	display: inline-block;
	width: 50%;
}

.details-description {
	
}

/**********************************************************************
 * Comment stuff
 *********************************************************************/

.comment-panel {
	background-color: #424242;
	color: #fff;
	z-index: 10;

	padding: 0.25em 1em;
	margin: 0 1em 1em 0em;
	border-radius: 0.25em;

	box-shadow: 2px 2px 2px #222;
	border: 1px solid #fff;
}

.comment-panel.hidden {
	height: 2em;
}

.hidden > form, .hidden > div {
	display: none;
}

.comment-panel.show {
	padding-bottom: 1em;
}

.comment-meta {
	text-align: right;
	font-size: 0.75em;
}

.comment-contents {
	max-height: 20em;
	overflow-y: auto;
}

.comment-text {
	padding: 0.5em;
	margin: 0.5em;
	width: 90%;
	border-radius: 0.5em;

	background-color: #fef;
	color: #000;
}

#new-comment-text {
	width: 100%;
	border-radius: 0.25em;
	margin: 0.5em 0;
}

#new-comment-form {
	text-align: right;
}

.comment-button {
	border: 1px solid #fff;
	border-radius: 0.5em;
	padding: 0.25em 0.5em;
	margin: 0.5em;

	background-color: #fff;
	color: #005;
	cursor: pointer;
}

.comment-button:active {
	background-color: #aaa;
}


