/* Styles specific to the edit page */

/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: pink;
    text-decoration: none;
}

#col-left {
    position: absolute;
    top: 20;
    left: 15%;
    width: 45%;
}

#col-right {
    position: absolute;
    left: 65%;
    top: 40;
}

.playlist-heading {
    font-size: 1.2em;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.playlist-text-cell {
    display: inline-block;
    width: calc(30% - .2em);
}

.playlist-item {
    position: relative;
    padding: 0.2em;
    width: 100%;
    border-top: 1px solid #959595;
}

.list-entry {
    margin-top: 0.1em;
    padding-top: 0.1em;
    border-top: 1px solid #959595;
}

.col-content {
    margin: 1em;
    padding: 1em;
    border-radius: 0.15em;
    border-style: solid;
    border-width: 2px;
    border-color: #959595;
    background-color: #2a2a2a;

    height: 20em;
    overflow-y: scroll;
}

.button {
    padding: 1em 1.5em 1em 1.5em;
    border-radius: 2em;
    border-style: solid;
    border-width: 2px;
    border-color: #959595;
    background-color: #2a2a2a;
}

