/* Styles specific to the edit page */

/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: pink;
    text-decoration: none;
}


/**********************************************************************
 * Styles for Welcome Box
 *********************************************************************/

#welcome-box {
    position: absolute;
    top: 1.5em;
    left: 5%;
    width: 22em;
    height: 3em;

    background-color: rgb(42, 42, 42);
    border: 2px solid #959595;
    border-radius: 0.15em;

    margin: 0 0.5em 1em 1em;
    padding: 1em;
}

.welcome-text-dj {
    font-size: 1.5em;
}

.welcome-text-prompt {
    font-size: 1.2em;
}

/**********************************************************************
 * Styles for Show Container
 *********************************************************************/

#playlist-list-box {
    position: absolute;
    top: 8em;
    left: 5%;
    width: 90%;
}

.play-container, .show-container {
    background-color: rgb(42, 42, 42);
    border: 2px solid #959595;
    border-radius: 0.15em;

    margin: 0 0.5em 1em 1em;
    width: calc(100% - 3em);
    padding: 0.5em;

    max-height: calc(80% - 2em);
}

.plays, .shows {
    max-height: calc(60vh - 3em);
    overflow: auto;
}

.play-container-header > .play-field, .show-heading {
    font-size: 1.2em;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    color: rgb(170, 247, 205);
    cursor: auto;
}

.section-title-underline {
    font-size: 0.8em;
    border-style: solid;
    border-radius: 0.2em;
    border-top-color: white;
    border-top-width: 2px;
}

.play, .play-container-header,
.show-list-entry, .show-container-header {
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid rgba(255,255,255, 0.1);
    padding: 0.1em 0;
}

.show-list-entry, .show-container-header {
    padding: 0.2em 0;
}

.show-list-entry:hover {
    background-color: #424242;
}

.playlist-link {
    width: 100%;
}

.show-text-cell, .show-heading {
    display: inline-block;
}

.show-title {
    width: 30%;
}

.show-date {
    width: 35%;
}

.show-subtitle {
    width: 35%;
}


/**********************************************************************
 * Styles for Create New Show Button
 *********************************************************************/

#new-playlist-button {
    position: absolute;
    right: 6%;
    top: 2.5em;
    width: 13.5em;
}

.button {
    padding: 1em 1.5em 1em 1.5em;
    border-radius: 0.25em;
    border: 1px solid #fff;
    background-color: #2a2a2a;
}

.button-text {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 1.2em;
}
