/* Styles specific to the edit page */

#col-left {
	left: 0;

	width: 20%;
}

#col-right {
	left: 20%;

	width: 80%;
}

#playlist {
	position: relative;
	padding: 0.5em;

	width: calc(100% - 3em);
	height: calc(80vh - 3em);
}

#subgenre-input {
	font-size: 0.8em;
	border-style: solid;
	border-radius: 0.2em;
	border-top-color: white;
	border-top-width: 2px;
}

.col {
	position: absolute;
	top: 10%;
	height: 80%;
	display: inline-block;

	background-color: rgba(42, 42, 42);
}

.col-content {
	margin: 1em;
	padding: 0.1em 1em 1em 1em;
	border-radius: 0.15em;
	border-style: solid;
    border-width: 2px;
    border-color: #959595;
	background-color: #2a2a2a;
}

.spin {
	border-top: 1px solid rgba(255,255,255, 0.1);
	padding: 0.2em 0;
}

.entry-add-form {
	margin: 0em;
}

/* A text item that lives in a rounded bubble */
.tagged-item {
	padding: 0.2em 0.5em 0.2em 0.5em;
	border-radius: 1em;
}

/* Styles within the show details section */
.show-section {
	margin: 1em 0 0em 0;
}

.show-subtitle-text {
	font-weight: 100;
}

.show-dj-name {
	
}

.show-desc-text {
    border-style: solid;
    border-width: 2px;
    border-color: #d4d4d4;
    border-radius: 0.3em;
    padding: 0.2em 0.2em 0.2em 0.2em;
    font-size: 0.8em;
}

.genre-heading {
	font-size: 1.1em;
	margin-bottom: 0.75em;
}

.show-genre-name {
    border-style: solid;
    border-width: 2px;
    border-color: #959595;
    font-size: 0.8em;
}

.show-subgenre-name {
	border-style: solid;
    border-width: 2px;
    border-color: #959595;
    font-size: 0.8em;
    margin-bottom: 0.4em;
}

/* Styles within the playlist editor */
.playlist-heading {
	font-size: 1.2em;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	margin-bottom: 0.5em;
}

.playlist-item {
	position: relative;
	padding: 0.2em;
	width: 100%;
	border-top: 1px solid #959595;
}

.playlist-movetab {
	background-image: url("media/movetab.gif");
	background-position: center;
	background-repeat: no-repeat; 
	background-size: 16px 16px;
	display: inline-block;
	width: 5%;
	height: 1em;

	cursor: grab;
}

.playlist-numbering {
	display: inline-block;
	width: 5%;
}

.playlist-table-contents {
	max-height: 25em;
	overflow-y: scroll;
}

.playlist-text-cell {
	display: inline-block;
	width: 20%;
}

.playlist-artist-name {

}

.playlist-comment {
	background-image: url("media/comment.gif");
	background-position: center;
	background-repeat: no-repeat; 
	background-size: 20px 20px;
	display: inline-block;
	width: 5%;
	height: 1em;
}

.playlist-plus {
	background-image: url("media/plus.png");
	background-position: center;
	background-repeat: no-repeat; 
	background-size: 15px 15px;
	display: inline-block;
	width: 5%;
	height: 1em;
}

.playlist-minus {
   background-image: url("media/minus.png");
   background-position: center;
   background-repeat: no-repeat; 
   background-size: 15px 15px;
   display: inline-block;
   width: 5%;
   height: 1em;
}
