/* Styles specific to the edit page */
#col-left {
	left: 0;

	width: 20%;
}

#col-right {
	left: 20%;

	width: 80%;
}

#playlist {
	position: relative;

	/* Slight cleanup */
	padding-top: .5em;
	padding-left: .5em;
	padding-right: .5em;
	padding-bottom: .1em;

	width: calc(100% - 3em);
	max-height: calc(82vh - 3em);
}

.section-title-underline {
	font-size: 0.8em;
	border-style: solid;
	border-radius: 0.2em;
	border-top-color: white;
	border-top-width: 2px;
}

.col {
	position: absolute;
	height: 90%;
	display: inline-block;

	background-color: rgba(42, 42, 42);
}

.col-content {
	margin: 1em;
	padding: 0.1em 1em 1em 1em;
	border-radius: 0.15em;
	border-style: solid;
    border-width: 2px;
    border-color: #959595;
	background-color: #2a2a2a;
}

.spin {
	border-top: 1px solid rgba(255,255,255, 0.1);
	padding: 0.2em 0;


	/* Hack to stop it from highlighting shit when you drag */
	 -webkit-touch-callout: none; /* iOS Safari */
	   -webkit-user-select: none; /* Safari */
	    -khtml-user-select: none; /* Konqueror HTML */
	      -moz-user-select: none; /* Firefox */
	       -ms-user-select: none; /* Internet Explorer/Edge */
	           user-select: none; /* Non-prefixed version, currently
	                                 supported by Chrome and Opera */
}

.entry-add-form {
	margin: 0em;
	/* This is to compensate for the scrollbar */
	margin-right: 7px;
}

/* A text item that lives in a rounded bubble */
.tagged-item {
	padding: 0.2em 0.5em 0.2em 0.5em;
	border-radius: 1em;
}

/* Styles within the show details section */
#show .playlist-text-cell {
    width: 100%;
    min-width: 4em;
    min-height:1em;
}

.show-section {
	margin: 1em 0 0em 0;
}

.show-title-text {
    margin-bottom: 0.5em;
}


.show-genre-text,
.show-desc-text
/*.playlist-text-cell */
{
	border: 1px solid rgba(42, 42, 42, 1);
	font-weight: 75;
    font-style: italic;
    padding-left: .1em;
    padding-right: .1em;
    margin-top: .1em;
}

.show-subtitle-text {
	border: 1px solid rgba(42, 42, 42, 1);
	font-weight: 75;
    font-style: italic;
    padding-left: .1em;
    padding-right: .1em;
}

.playlist-text {
	border: 1px solid rgba(42, 42, 42, 1);
	padding-left: .1em;
    padding-right: .1em;
    display: inline-block;
    min-width: 2em;
    min-height: 1em;
}

/* For editable hovering */
.editable:hover {
	border: 1px solid rgba(221, 221, 221, 1);
	box-sizing: border-box;
}

.playlist-text-cell:hover .editable {
	border: 1px solid rgba(221, 221, 221, 1);
	box-sizing: border-box;
}

.show-dj-name {
	font: bold;
}

.desc-heading,
.genre-heading {
	font-size: 1.1em;
	margin-bottom: 0.5em;
}

.show-genre-name {
    border-style: solid;
    border-width: 2px;
    border-color: #959595;
    font-size: 0.8em;
}

.show-subgenre-name {
	border-style: solid;
    border-width: 2px;
    border-color: #959595;
    font-size: 0.8em;
    margin-bottom: 0.4em;
}

/* Styles within the playlist editor */
.playlist-heading {
	font-size: 1.2em;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	margin-bottom: 0.5em;
}

.playlist-item {
	position: relative;
	padding: 0.2em;
	width: 100%;
	border-top: 1px solid #959595;
}

.playlist-movetab {
	background-image: url("media/movetab.gif");
	background-position: center;
	background-repeat: no-repeat; 
	background-size: 16px 16px;
	display: inline-block;
	width: 5%;
	height: 1em;

	cursor: pointer;
}

.playlist-numbering {
	display: inline-block;
	width: 5%;
}

.playlist-table-contents {
	max-height: calc(82vh - 7em);
	overflow-y: scroll;
}

.playlist-text-cell {
	display: inline-block;
	width: 20%;
	min-width: 4em;
	min-height: 1em;
}

.playlist-artist-name {

}

.playlist-plus {
	background-image: url("media/plus.png");
	background-position: center;
	background-repeat: no-repeat; 
	background-size: 15px 15px;
	display: inline-block;
	width: 5%;
	height: 1em;
}

.playlist-minus {
   background-image: url("media/x.png");
   background-position: center;
   background-repeat: no-repeat; 
   background-size: 15px 15px;
   display: inline-block;
   width: 5%;
   height: 1em;
}


.tag-plus {
	background-image: url("media/tag-plus.png");
	background-position: center;
	background-repeat: no-repeat; 
	background-size: 8px 8px;
	width: 8px;
	height: 8px;

	display:  inline-block;
	position: relative;
	margin-bottom: 4.5%;
	padding-bottom: 4.5%;
}

.tag-delete {
	background-image: url("media/tag-x.png");
	background-position: center;
	background-repeat: no-repeat; 
	background-size: 8px 8px;
	width: 8px;
	height: 8px;

	display:  inline-block;
	position: relative;
	margin-left: 5px;
}


/* Autocomplete stuff */
.react-autosuggest__suggestions-container--open {
	position: absolute;

	background-color: #fff;
	color: #000;

	padding: 0.5em;

	border-radius: 0.5em 0.5em 0.5em 0;
	bottom: 2em;

	box-shadow: 2px 2px 2px #000;
}

.react-autosuggest__suggestions-list {
	max-height: 6em;
	width: 25em;
	overflow-y: auto;
}

.playlist-suggestion {
	padding: 0.1em 0.25em;
	border-radius: 0.25em;

	cursor: pointer;
}

.playlist-suggestion.highlighted {
	background-color: #eef;
}

.suggestion-artist, .suggestion-album {
	font-style: italic;
	color: #777;

	margin-left: 0.5em;
}

/*********************************************************************
 * Comment styles 
 ********************************************************************/

.comment-panel {
	position: fixed;
	bottom: 0;
	left: 70%;
	width: 25%;

	background-color: #424242;
	color: #fff;
	z-index: 10;

	padding: 0.25em 0.5em;
	border-radius: 0.25em 0.25em 0 0;

	box-shadow: 2px 2px 2px #222;
	border: 1px solid #fff;
	border-bottom: none;
}

.comment-panel.hidden {
	height: 2em;
}

.hidden > form, .hidden > div {
	display: none;
}

.comment-panel.show {
	padding-bottom: 1em;
}

.comment-meta {
	text-align: right;
	font-size: 0.75em;
}

.comment-contents {
	max-height: 20em;
	overflow-y: auto;
}

.comment-text {
	padding: 0.5em;
	margin: 0.5em;
	width: 90%;
	border-radius: 0.5em;

	background-color: #fef;
	color: #000;
}

#new-comment-text {
	width: 100%;
	border-radius: 0.25em;
	margin: 0.5em 0;
}

#new-comment-form {
	text-align: right;
}

.comment-button {
	border: 1px solid #fff;
	border-radius: 0.5em;
	padding: 0.25em 0.5em;
	margin: 0.5em;

	background-color: #fff;
	color: #005;
	cursor: pointer;
}

.comment-button:active {
	background-color: #aaa;
}

/* Example Styles for React Tags*/
/**********************************************************************/

.ReactTags__tags {
    position: relative;
    display: inline-block;
}

/* Styles for the input */
.ReactTags__tagInput {
	display: none;
    width: 50%;
    display: inline-block;
}
.ReactTags__tagInput input.ReactTags__tagInputField,
.ReactTags__tagInput input.ReactTags__tagInputField:focus {
	display: none;
    height: 1.4em;
    margin: 0;
    font-size: 12px;
    width: 50%;
    border: 1px solid #eee;
}

.ReactTags__tagInput .ReactTags__tagInputExitButton {
	display: none;
}
/*
.ReactTags__tagInputEditing:after {
	content: 'hollalllll';
	background-image: url("media/tag-x.png");
	background-position: center;
	background-repeat: no-repeat; 
	background-size: 8px 8px;
	width: 8px;
	height: 8px;
	opacity: 1.0;

	display:  inline-block;
	position: relative;
	vertical-align: middle;
	margin-left: 5px;
	margin-bottom: 2px; 

	
    text-indent: -1000em;

    cursor: pointer;
    pointer-events: all;
}*/

.ReactTags__tagInputEditing {
	position: relative;
	display: inline-block;
	width: 100%;
}

.ReactTags__tagInputEditing input.ReactTags__tagInputFieldEditing
.ReactTags__tagInputEditing input.ReactTags__tagInputFieldEditing:focus {
	position: relative;
	display: inline-block;
	height: 1.4em;
    margin: 0;
    font-size: 12px;
    width: 0;
    border: 1px solid #eee;
}

.ReactTags__tagInputEditing .ReactTags__tagInputExitButton {
	background-image: url("media/tag-x.png");
	background-position: center;
	background-repeat: no-repeat; 
	background-size: 8px 8px;
	width: 8px;
	height: 8px;
	opacity: 1.0;

	display:  inline-block;
	position: relative;
	vertical-align: middle;
	margin-left: 5px;
	margin-bottom: 2px;

	/* a hack to hide a built in thing */
	text-indent: -1000em;
}

/* Styles for selected tags */
.ReactTags__selected span.ReactTags__tag {
	/* border: 1px solid rgba(42, 42, 42); */
    border: 1px solid rgba(221, 221, 221, 1);
    background: rgba(42, 42, 42);
    font-size: 12px;
    display: inline-block;
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 5px;
    cursor: move;
    border-radius: 2px;
}

.ReactTags__selected a.ReactTags__remove {
    color: #aab;
    margin-left: 5px;
    cursor: pointer;
}

/* Styles for suggestions */
.ReactTags__suggestions {
    display: inline-block;
    z-index: 1;
}

.ReactTags__suggestions ul {
    list-style-type: none;
    box-shadow: .05em .01em .5em rgba(0,0,0,.2);
    background: white;
    width: 200px;
}
.ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0;
}
.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
}
.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
    background: #b7cfe0;
    cursor: pointer;
}

.ReactTags__remove {
	opacity: 0.0;
}



.tag-minus,
span.ReactTags__tag .ReactTags__remove {
	background-image: url("media/tag-x.png");
	background-position: center;
	background-repeat: no-repeat; 
	background-size: 8px 8px;
	width: 8px;
	height: 8px;
	opacity: 1.0;

	display:  inline-block;
	position: relative;
	vertical-align: middle;
	margin-left: 5px;
	margin-bottom: 2px;

	/* a hack to hide a built in thing */
	text-indent: -1000em;
}
