/* Common styles for the Snob App */
body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: white;
    background-image: url("media/background.jpg");
    background-size: cover;
}

h1 {
	font-size: 1.5em;
	font-style: normal;
	font-weight: 100;
}

h2 {
	font-size: 1.5em;
	margin: 0;
}

h3 {
	font-size: 1.25em;
	margin: 0;
}

#header {
	top: 0;
	height: 2.5em;
	left: 0;
	right:0;
	background-color: #2a2a2a
}

#header-title {
	margin: 0;
}

#header-subtitle {
	margin: 0;
	margin-left: 8.5em;
	font-size: 0.8em;
}

#footer {
	font-size: 0.8em;
	height: 5%;
	left: 0;
	bottom: 0;
	right:0;
	background-color: #2a2a2a;
}

#content {
	top: 4.5em;
	height: calc(100% - 4.5em);
}

.page-section {
	position: absolute;
	width: 100%;
	font-color: white;
}

.bar-section {
	height: 10%;
	width: 90%;
	padding: 1em 5% 1em 5%;
}

.dbl-clickable {
	cursor: text;
}

.clickable {
	cursor: pointer;
}

/* link settings */
a, a:visited {
	text-decoration: none;
	color: #fff;
}

a:link {
    color: white;
    text-decoration: none;
}

a:hover {
    color: pink;
    text-decoration: none;
}

/* User ID Component Style */

.userid-panel {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 10em;

    background-color: #424242;
    color: #fff;
    z-index: 10;

    padding: 0.25em 0.5em;
    border-radius: 0.25em;

    border: 1px solid #fff;

}

.userid-panel.hidden {
    height: 2em;
}

.hidden > div {
    display: none;
}

.userid-panel.show {
}

.userid-name {
	font-size: 1.1em;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	margin: 2em 0em 0em 1em;
	padding-top: 2em;
	text-align: center;
	top: -0.6em;
	position: relative;
}

.userid-pic {
   background-image: url("media/anon_user.png");
   background-position: center;
   background-repeat: no-repeat; 
   background-size: 30px 30px;
   display: inline-block;
   width: 2em;
   height: 2em;
}

.userid-menu-element {
	padding: 0.1em;
}

/* Attempted scrollbar hacks */

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 100px;
}

/* darken on click */
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0,0,0,0.61);
  -webkit-border-radius: 100px;
}
